<div class="well">
    <h2>Virtual Machines</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid" ng-show="!vm.hasRole('ROLE_USER')">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="virtual-machine.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Virtual Machine
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="environment"><span>Environment</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ip"><span>Ip</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="genericVm.id"><span>Generic Vm</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="project.id"><span>Project</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="operatingSystem.id"><span>Operating System</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="virtualMachine in vm.virtualMachines track by virtualMachine.id">
                    <td><a ui-sref="virtual-machine-detail({id:virtualMachine.id})">{{virtualMachine.id}}</a></td>
                    <td>{{virtualMachine.name}}</td>
                    <td>{{virtualMachine.description}}</td>
                    <td>{{virtualMachine.environment}}</td>
                    <td>{{virtualMachine.ip}}</td>
                    <td>
                        <span>{{virtualMachine.genericVm.name}}</span>
                    </td>
                    <td>
                        <a ui-sref="project-detail({id:virtualMachine.project.id})">{{virtualMachine.project.name}}</a>
                    </td>
                    <td ng-show="vm.hasRole('ROLE_ADMIN')">
                        <a ui-sref="operating-system-detail({id:virtualMachine.operatingSystem.id})">{{virtualMachine.operatingSystem.name}}</a>
                    </td>
                    <td ng-show="!vm.hasRole('ROLE_ADMIN')">
                        {{virtualMachine.operatingSystem.name}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="virtual-machine-detail({id:virtualMachine.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button ng-show="!vm.hasRole('ROLE_USER')" type="submit"
                                    ui-sref="virtual-machine.edit({id:virtualMachine.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button ng-show="!vm.hasRole('ROLE_USER')" type="submit"
                                    ui-sref="virtual-machine.delete({id:virtualMachine.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
