/*body {*/
    /*background: #fafafa;*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*color: #333;*/
/*}*/

/*!* ==========================================================================*/
/*Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak*/
/*========================================================================== *!*/
/*[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {*/
    /*display: none !important;*/
/*}*/

/*!* ==========================================================================*/
/*Development Ribbon*/
/*========================================================================== *!*/
/*.ribbon {*/
    /*background-color: #a00;*/
    /*box-shadow: 0 0 10px #888;*/
    /*left: -3.5em;*/
    /*moz-box-shadow: 0 0 10px #888;*/
    /*moz-transform: rotate(-45deg);*/
    /*ms-transform: rotate(-45deg);*/
    /*o-transform: rotate(-45deg);*/
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*top: 40px;*/
    /*transform: rotate(-45deg);*/
    /*webkit-box-shadow: 0 0 10px #888;*/
    /*webkit-transform: rotate(-45deg);*/
    /*white-space: nowrap;*/
    /*width: 15em;*/
    /*z-index: 9999;*/
    /*pointer-events: none;*/
/*}*/

/*.ribbon a {*/
    /*border: 1px solid #faa;*/
    /*color: #fff;*/
    /*display: block;*/
    /*font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    /*margin: 1px 0;*/
    /*padding: 10px 50px;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*text-shadow: 0 0 5px #444;*/
    /*pointer-events: none;*/
/*}*/

/*!* ==========================================================================*/
/*Version number in navbar*/
/*========================================================================== *!*/
/*.navbar-version {*/
    /*font-size: 10px;*/
    /*color: #ccc*/
/*}*/

/*!* ==========================================================================*/
/*Browser Upgrade Prompt*/
/*========================================================================== *!*/
/*.browserupgrade {*/
    /*margin: 0.2em 0;*/
    /*background: #ccc;*/
    /*color: #000;*/
    /*padding: 0.2em 0;*/
/*}*/

/*!* ==========================================================================*/
/*Logo styles*/
/*========================================================================== *!*/
/*.navbar-brand.logo {*/
    /*padding: 5px 15px;*/
/*}*/

/*.logo .logo-img {*/
    /*height: 45px;*/
    /*display: inline-block;*/
/*}*/

/*!* ==========================================================================*/
/*Main page styles*/
/*========================================================================== *!*/
/*.hero-unit {*/
    /*margin: 50px auto 0 auto;*/
    /*width: 300px;*/
    /*font-size: 18px;*/
    /*font-weight: 200;*/
    /*line-height: 30px;*/
    /*background-color: #eee;*/
    /*border-radius: 6px;*/
    /*padding: 60px;*/
/*}*/

/*.hero-unit h1 {*/
    /*font-size: 60px;*/
    /*line-height: 1;*/
    /*letter-spacing: -1px;*/
/*}*/

/*.hipster {*/
    /*display: inline-block;*/
    /*width: 347px;*/
    /*height: 497px;*/
    /*background: url("../images/hipster.png") no-repeat center top;*/
    /*background-size: contain;*/
/*}*/

/*!* wait autoprefixer update to allow simple generation of high pixel density media query *!*/
/*@media*/
/*only screen and (-webkit-min-device-pixel-ratio: 2),*/
/*only screen and (   min--moz-device-pixel-ratio: 2),*/
/*only screen and (     -o-min-device-pixel-ratio: 2/1),*/
/*only screen and (        min-device-pixel-ratio: 2),*/
/*only screen and (                min-resolution: 192dpi),*/
/*only screen and (                min-resolution: 2dppx) {*/
    /*.hipster {*/
        /*background: url("../images/hipster2x.png") no-repeat center top;*/
        /*background-size: contain;*/
    /*}*/
/*}*/

/*!* ==========================================================================*/
/*Generic styles*/
/*========================================================================== *!*/
/*.error {*/
    /*color: white;*/
    /*background-color: red;*/
/*}*/

/*.pad {*/
    /*padding: 10px;*/
/*}*/

/*.break {*/
    /*white-space: normal;*/
    /*word-break:break-all;*/
/*}*/

/*.voffset  { margin-top: 2px; }*/
/*.voffset1 { margin-top: 5px; }*/
/*.voffset2 { margin-top: 10px; }*/
/*.voffset3 { margin-top: 15px; }*/
/*.voffset4 { margin-top: 30px; }*/
/*.voffset5 { margin-top: 40px; }*/
/*.voffset6 { margin-top: 60px; }*/
/*.voffset7 { margin-top: 80px; }*/
/*.voffset8 { margin-top: 100px; }*/
/*.voffset9 { margin-top: 150px; }*/

/*.readonly {*/
    /*background-color: #eee;*/
    /*opacity: 1;*/
/*}*/

/*!* ==========================================================================*/
/*make sure browsers use the pointer cursor for anchors, even with no href*/
/*========================================================================== *!*/
/*a:hover {*/
  /*cursor: pointer;*/
/*}*/

/*.hand {*/
    /*cursor: pointer;*/
/*}*/

/*!* ==========================================================================*/
/*Metrics and Health styles*/
/*========================================================================== *!*/
/*#threadDump .popover, #healthCheck .popover {*/
    /*top: inherit;*/
    /*display: block;*/
    /*font-size: 10px;*/
    /*max-width: 1024px;*/
/*}*/

/*#healthCheck .popover {*/
    /*margin-left: -50px;*/
/*}*/

/*.health-details {*/
    /*min-width: 400px;*/
/*}*/

/*!* ==========================================================================*/
/*start Password strength bar style*/
/*========================================================================== *!*/
/*ul#strengthBar {*/
    /*display:inline;*/
    /*list-style:none;*/
    /*margin:0;*/
    /*margin-left:15px;*/
    /*padding:0;*/
    /*vertical-align:2px;*/
/*}*/

/*.point:last {*/
    /*margin:0 !important;*/
/*}*/
/*.point {*/
    /*background:#DDD;*/
    /*border-radius:2px;*/
    /*display:inline-block;*/
    /*height:5px;*/
    /*margin-right:1px;*/
    /*width:20px;*/
/*}*/

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/*!* ==========================================================================*/
/*entity tables helpers*/
/*========================================================================== *!*/
/*!* Remove Bootstrap padding from the element*/
   /*http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 *!*/
/*.no-padding-left { padding-left: 0 !important; }*/
/*.no-padding-right { padding-right: 0 !important; }*/
/*.no-padding-top { padding-top: 0 !important; }*/
/*.no-padding-bottom { padding-bottom: 0 !important; }*/
/*.no-padding { padding: 0 !important; }*/

/*!* bootstrap 3 input-group 100% width*/
   /*http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width *!*/
/*.width-min { width: 1% !important; }*/

/*!* Makes toolbar not wrap on smaller screens*/
 /*http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right *!*/
/*.flex-btn-group-container {*/
   /*display: -webkit-flex;*/
   /*display: flex;*/
   /*-webkit-flex-direction: row;*/
   /*flex-direction: row;*/
   /*-webkit-justify-content: flex-end;*/
   /*justify-content: flex-end;*/
/*}*/

/*.jh-table > tbody > tr > td {*/
    /*!* Align text in td vertically (top aligned by Bootstrap) *!*/
    /*vertical-align: middle;*/
/*}*/

/*.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {*/
    /*!* less visible sorting icons *!*/
    /*opacity: 0.5;*/
/*}*/

/*.jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {*/
    /*!* full visible sorting icons and pointer when mouse is over them *!*/
    /*opacity: 1;*/
    /*cursor: pointer;*/
/*}*/

/*!* ==========================================================================*/
/*entity detail page css*/
/*========================================================================== *!*/
/*.dl-horizontal.jh-entity-details > dd {*/
    /*margin-bottom: 15px;*/
/*}*/

/*@media screen and (min-width: 768px) {*/
    /*.dl-horizontal.jh-entity-details > dt {*/
        /*margin-bottom: 15px;*/
    /*}*/

    /*.dl-horizontal.jh-entity-details > dd {*/
        /*border-bottom: 1px solid #eee;*/
        /*padding-left: 180px;*/
        /*margin-left: 0;*/
    /*}*/
/*}*/

/*!* ==========================================================================*/
/*ui bootstrap tweaks*/
/*========================================================================== *!*/
/*.nav, .pagination, .carousel, .panel-title a {*/
    /*cursor: pointer;*/
/*}*/

/*.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,*/
/*.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {*/
    /*border: 0;*/
/*}*/

/*.datetime-picker-dropdown > li.date-picker-menu div > table:focus,*/
/*.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {*/
    /*outline: none;*/
/*}*/



/*!* jhipster-needle-css-add-main JHipster will add new css style *!*/


/*!* sb-admin main.css*!*/
/*!* Space out content a bit *!*/
/*body {*/
    /*padding-bottom: 20px;*/
/*}*/

/*!* Everything but the jumbotron gets side spacing for mobile first views *!*/
/*.header,*/
/*.marketing,*/
/*.footer {*/
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
/*}*/

/*!* Custom page header *!*/
/*.header {*/
    /*border-bottom: 1px solid #e5e5e5;*/
/*}*/
/*!* Make the masthead heading the same height as the navigation *!*/
/*.header h3 {*/
    /*margin-top: 0;*/
    /*margin-bottom: 0;*/
    /*line-height: 40px;*/
    /*padding-bottom: 19px;*/
/*}*/

/*!* Custom page footer *!*/
/*.footer {*/
    /*padding-top: 19px;*/
    /*color: #777;*/
    /*border-top: 1px solid #e5e5e5;*/
/*}*/

/*!* Customize container *!*/
/*@media (min-width: 768px) {*/
    /*.container {*/
        /*max-width: 730px;*/
    /*}*/
/*}*/
/*.container-narrow > hr {*/
    /*margin: 30px 0;*/
/*}*/

/*!* Main marketing message and sign up button *!*/
/*.jumbotron {*/
    /*text-align: center;*/
    /*border-bottom: 1px solid #e5e5e5;*/
/*}*/
/*.jumbotron .btn {*/
    /*font-size: 21px;*/
    /*padding: 14px 24px;*/
/*}*/

/*!* Supporting marketing content *!*/
/*.marketing {*/
    /*margin: 40px 0;*/
/*}*/
/*.marketing p + h4 {*/
    /*margin-top: 28px;*/
/*}*/

/*!* Responsive: Portrait tablets and up *!*/
/*@media screen and (min-width: 768px) {*/
    /*!* Remove the padding we set earlier *!*/
    /*.header,*/
    /*.marketing,*/
    /*.footer {*/
        /*padding-left: 0;*/
        /*padding-right: 0;*/
    /*}*/
    /*!* Space out the masthead *!*/
    /*.header {*/
        /*margin-bottom: 30px;*/
    /*}*/
    /*!* Remove the bottom border on the jumbotron for visual effect *!*/
    /*.jumbotron {*/
        /*border-bottom: 0;*/
    /*}*/
/*}*/

/*.nav>li.active>a {*/
    /*text-decoration: none;*/
    /*background-color: #eee;*/
/*}*/

/* sb-admin-2.css */
/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    background-color: #f8f8f8;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.navbar a {
    color: #337ab7 !important;
}

.well {
    margin-top: 70px !important;
}
